.change-password {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.change-password .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.change-password .overlap {
    background-color: #ff0000cc;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 426px;
}

.change-password .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 200px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 65px;
    white-space: nowrap;
}

.change-password .group {
    height: 50px;
    left: 213px;
    position: absolute;
    top: 135px;
    width: 160px;
}

.change-password .overlap-group {
    background-color: #ffffff;
    border-radius: 80px;
    height: 50px;
    position: relative;
    width: 158px;
    border: none;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}
.change-password .overlap-group:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.change-password .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    white-space: nowrap;
    width: 111px;
}

.change-password .ellipse {
    height: 157px;
    left: 18px;
    object-fit: cover;
    position: absolute;
    top: 47px;
    width: 157px;
}

.change-password .group-2 {
    left: 100px;
    position: absolute;
    top: 998px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 100px; /* Padding to provide space for background */
}

.change-password .group-2:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.change-password .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 77px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    white-space: nowrap;
}

.change-password .img {
    height: 50px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    width: 50px;
}

.change-password .img-logout {
    height: 50px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    width: 50px;
}

.change-password .img-save {
    height: 48px;
    left: -7px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 48px;
}

.change-password .group-3 {
    left: 23px;
    position: absolute;
    top: 256px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.change-password .group-3:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.change-password .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    white-space: nowrap;
}

.change-password .dash {
    height: 40px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 50px;
}

.change-password .group-4 {
    left: 23px;
    position: absolute;
    top: 345px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.change-password .group-4:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.change-password .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.change-password .img-2 {
    height: 48px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 48px;
}

.change-password .group-5 {
    left: 23px;
    position: absolute;
    top: 437px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.change-password .group-5:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}
.change-password .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    white-space: nowrap;
}

.change-password .group-6 {
    left: 23px;
    position: absolute;
    top: 527px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.change-password .group-6:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.change-password .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 153px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
}

.change-password .todolist {
    height: 56px;
    left: 45px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 56px;
}

.change-password .group-7 {
    left: 23px;
    position: absolute;
    top: 624px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.change-password .group-7:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}
.change-password .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 125px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
    white-space: nowrap;
}

.change-password .img-3 {
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 10px;
}

.change-password .group-8 {
    left: 23px;
    position: absolute;
    top: 717px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.change-password .group-8:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.change-password .group-9 {
    left: 23px;
    position: absolute;
    top: 811px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.change-password .group-9:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.change-password .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
}

.change-password .timeline {
    height: 46px;
    left: 52px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 46px
}

.change-password .overlap-2 {
    background-image: url(./images/rect99.png);
    background-size: 100% 100%;
    height: 141px;
    left: 426px;
    position: absolute;
    top: 0;
    width: 1494px;
}

.change-password .profile {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 80px;
    font-weight: 700;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -57px;
    width: 478px;
}

.change-password .span {
    color: #000000;
}

.change-password .text-wrapper-10 {
    color: #7a0202;
}

.change-password .landscape {
    height: 73px;
    left: 1098px;
    object-fit: cover;
    position: absolute;
    top: 34px;
    width: 339px;
}

.change-password .use {
    height: 86px;
    left: 43px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 86px;
}

.change-password .p {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 951px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 261px;
    white-space: nowrap;
    width: 444px;
}

.change-password .group-wrapper {
    background-color: #000000;
    border-radius: 20px;
    height: 72px;
    left: 1368px;
    position: absolute;
    top: 816px;
    width: 250px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.change-password .group-wrapper:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}


.change-password .group-10 {
    height: 47px;
    left: 45px;
    position: relative;
    top: 13px;
    width: 162px;
}

.change-password .text-wrapper-11 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 57px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
    white-space: nowrap;
    width: 103px;
}

.change-password .trash {
    height: 47px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 47px;
}

.change-password .div-wrapper {
    background-color: #890000;
    border-radius: 20px;
    height: 72px;
    left: 1022px;
    position: absolute;
    top: 816px;
    width: 250px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.change-password .div-wrapper:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.change-password .group-11 {
    height: 48px;
    left: 55px;
    position: relative;
    top: 12px;
    width: 142px;
}

.change-password .text-wrapper-12 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 67px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 7px;
    white-space: nowrap;
    width: 73px;
}

.change-password .group-12 {
    height: 273px;
    left: 778px;
    position: absolute;
    top: 457px;
    width: 797px;
}

.change-password .text-wrapper-13 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    width: 264px;
}

.change-password .text-wrapper-14 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 120px;
    width: 220px;
}

.change-password .text-wrapper-15 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 222px;
    width: 270px;
}

.change-password .rectangle {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 65px;
    left: 294px;
    position: absolute;
    top: 0;
    width: 465px;
    font-size: 20px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.change-password .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 65px;
    left: 292px;
    position: absolute;
    top: 104px;
    width: 465px;
    font-size: 20px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.change-password .rectangle-3 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 65px;
    left: 292px;
    position: absolute;
    top: 208px;
    width: 465px;
    font-size: 20px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}
