.customization-data {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.customization-data .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.customization-data .overlap {
    background-color: #ff0000cc;
    height: 1080px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 426px;
}

.customization-data .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 200px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 66px;
    white-space: nowrap;
}

.customization-data .group {
    height: 50px;
    left: 213px;
    position: absolute;
    top: 136px;
    width: 160px;
}

.customization-data .overlap-group {
    background-color: #ffffff;
    border-radius: 80px;
    height: 50px;
    position: relative;
    width: 158px;
    border: none;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.customization-data .overlap-group:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.customization-data .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    white-space: nowrap;
    width: 111px;
}

.customization-data .ellipse {
    height: 157px;
    left: 18px;
    object-fit: cover;
    position: absolute;
    top: 48px;
    width: 157px;
}

.customization-data .group-2 {
    height: 50px;
    left: 120px;
    position: absolute;
    top: 999px;
    width: 188px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */;
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 8px 9px; /* Padding to provide space for background */
}

.customization-data .img-logout {
    height: 50px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    width: 50px;
}

.customization-data .group-2:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.customization-data .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 77px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    white-space: nowrap;
}

.customization-data .save {
    height: 50px;
    left: -5px;
    object-fit: cover;
    position: absolute;
    top: -1px;
    width: 50px;
}

.customization-data .img {
    height: 50px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 50px;
}

.customization-data .group-3 {
    left: 23px;
    position: absolute;
    top: 256px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.customization-data .group-3:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.customization-data .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    white-space: nowrap;
}

.customization-data .dash {
    height: 40px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 50px;
}

.customization-data .group-4 {
    left: 23px;
    position: absolute;
    top: 345px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.customization-data .group-4:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.customization-data .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.customization-data .img-2 {
    height: 48px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 48px;
}

.customization-data .group-5 {
    left: 23px;
    position: absolute;
    top: 437px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.customization-data .group-5:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.customization-data .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.customization-data .group-6 {
    left: 23px;
    position: absolute;
    top: 527px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.customization-data .group-6:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.customization-data .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.customization-data .todolist {
    height: 56px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 56px;
}

.customization-data .group-7 {
    left: 23px;
    position: absolute;
    top: 624px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.customization-data .group-7:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.customization-data .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.customization-data .img-3 {
    height: 49px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 49px;
}

.customization-data .img-bell {
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
}

.customization-data .group-8 {
    height: 49px;
    left: 23px;
    position: absolute;
    top: 718px;
    width: 224px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 10px 80px; /* Padding to provide space for background */
}

.customization-data .group-8:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.customization-data .group-9 {
    height: 46px;
    left: 23px;
    position: absolute;
    top: 811px;
    width: 209px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 11px 90px; /* Padding to provide space for background */
}

.customization-data .group-9:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.customization-data .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.customization-data .timeline {
    height: 46px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 46px;
}

.customization-data .overlap-2 {
    background-image: url(./images/rect99.png);
    background-size: 100% 100%;
    height: 140px;
    left: 426px;
    position: absolute;
    top: 0;
    width: 1494px;
}

.customization-data .monthly-expenses-wrapper {
    height: 100px;
    left: 171px;
    position: absolute;
    top: 20px;
    width: 728px;
}

.customization-data .monthly-expenses {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 80px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -75px;
    width: 726px;
}

.customization-data .span {
    color: #000000;
}

.customization-data .text-wrapper-110 {
    color: #7a0202;
}

.customization-data .monthly {
    height: 90px;
    left: 49px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 90px;
}

.customization-data .landscape {
    height: 73px;
    left: 1087px;
    object-fit: cover;
    position: absolute;
    top: 34px;
    width: 339px;
}

.customization-data .text-wrapper-11 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 993px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 256px;
    white-space: nowrap;
    width: 361px;
}

.customization-data .group-10 {
    height: 273px;
    left: 868px;
    position: absolute;
    top: 449px;
    width: 617px;
}

.customization-data .text-wrapper-12 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 6px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    width: 75px;
}

.customization-data .text-wrapper-13 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 119px;
    width: 71px;
}

.customization-data .text-wrapper-14 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 223px;
    width: 81px;
}

.customization-data .rectangle {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 65px;
    left: 114px;
    position: absolute;
    top: 0;
    width: 497px;
}

.customization-data .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 65px;
    left: 112px;
    position: absolute;
    top: 104px;
    width: 497px;
}

.customization-data .rectangle-3 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 65px;
    left: 112px;
    position: absolute;
    top: 208px;
    width: 497px;
}

.customization-data .group-wrapper {
    background-color: #000000;
    border-radius: 20px;
    height: 72px;
    left: 1221px;
    position: absolute;
    top: 865px;
    width: 250px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.customization-data .group-wrapper:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.customization-data .group-11 {
    height: 47px;
    left: 45px;
    position: relative;
    top: 13px;
    width: 162px;
}

.customization-data .text-wrapper-15 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 57px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
    white-space: nowrap;
    width: 103px;
}

.customization-data .trash {
    height: 47px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 47px;
}

.customization-data .div-wrapper {
    background-color: #890000;
    border-radius: 20px;
    height: 72px;
    left: 875px;
    position: absolute;
    top: 865px;
    width: 250px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.customization-data .div-wrapper:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.customization-data .group-12 {
    height: 48px;
    left: 55px;
    position: relative;
    top: 12px;
    width: 142px;
}

.customization-data .text-wrapper-16 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 67px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 7px;
    white-space: nowrap;
    width: 73px;
}
