.gas-consumption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.gas-consumption .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.gas-consumption .overlap {
    background-color: #ff0000cc;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 426px;
}

.gas-consumption .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 200px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 65px;
    white-space: nowrap;
}

.gas-consumption .group {
    height: 50px;
    left: 213px;
    position: absolute;
    top: 135px;
    width: 160px;
}

.gas-consumption .overlap-group {
    background-color: #ffffff;
    border-radius: 80px;
    height: 50px;
    position: relative;
    width: 158px;
    position: relative;
    width: 158px;
    border: none;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.gas-consumption .overlap-group:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}


.gas-consumption .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    white-space: nowrap;
    width: 111px;
}

.gas-consumption .ellipse {
    height: 157px;
    left: 18px;
    object-fit: cover;
    position: absolute;
    top: 47px;
    width: 157px;
}

.gas-consumption .group-2 {
    height: 50px;
    left: 120px;
    position: absolute;
    top: 998px;
    width: 188px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */;
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 100px; /* Padding to provide space for background */
}

.gas-consumption .group-2:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-consumption .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 82px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
}

.gas-consumption .img {
    height: 50px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    width: 50px;
}

.gas-consumption .img-logout {
    height: 50px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    width: 50px;
}

.gas-consumption .group-3 {
    height: 40px;
    left: 23px;
    position: absolute;
    top: 256px;
    width: 245px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-consumption .group-3:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-consumption .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.gas-consumption .dash {
    height: 40px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 50px;
}

.gas-consumption .group-4 {
    height: 48px;
    left: 23px;
    position: absolute;
    top: 345px;
    width: 240px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-consumption .group-4:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-consumption .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    white-space: nowrap;
}

.gas-consumption .gaspr {
    height: 48px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 48px;
}

.gas-consumption .group-5 {
    height: 50px;
    left: 23px;
    position: absolute;
    top: 437px;
    width: 310px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-consumption .group-5:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-consumption .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    white-space: nowrap;
}

.gas-consumption .group-6 {
    height: 56px;
    left: 23px;
    position: absolute;
    top: 527px;
    width: 246px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-consumption .group-6:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-consumption .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 153px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
}

.gas-consumption .todolist {
    height: 56px;
    left: 45px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 56px;
}

.gas-consumption .group-7 {
    height: 49px;
    left: 23px;
    position: absolute;
    top: 624px;
    width: 302px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-consumption .group-7:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-consumption .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 125px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
    white-space: nowrap;
}

.gas-consumption .img-2 {
    left: 49px;
    object-fit: cover;
    position: absolute;
    top: 10px;
}

.gas-consumption .group-8 {
    height: 49px;
    left: 23px;
    position: absolute;
    top: 717px;
    width: 224px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-consumption .group-8:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-consumption .group-9 {
    height: 46px;
    left: 23px;
    position: absolute;
    top: 811px;
    width: 209px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-consumption .group-9:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-consumption .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.gas-consumption .timeline {
    height: 46px;
    left: 52px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 46px;
}

.gas-consumption .overlap-wrapper {
    height: 274px;
    left: 508px;
    position: absolute;
    top: 198px;
    width: 538px;
}

.gas-consumption .overlap-2 {
    height: 274px;
    position: relative;
    width: 532px;
}

.gas-consumption .rectangle-wrapper {
    height: 274px;
    left: 0;
    position: absolute;
    top: 0;
    width: 532px;
}

.gas-consumption .rectangle {
    height: 282px;
    left: -4px;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    width: 540px;
}

.gas-consumption .text-wrapper-10 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
    width: 432px;
}

.gas-consumption .text-wrapper-11 {
    color: #890000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 60px;
    font-weight: 700;
    left: 186px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 104px;
    white-space: nowrap;
    width: 161px;
}

.gas-consumption .text-wrapper-12 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    left: 221px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 192px;
    width: 90px;
}

.gas-consumption .text-wrapper-add {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    left: -25px;
    line-height: normal;
    position: absolute;
    top: 13px;
    width: 250px;
    height: 20px;
}

.gas-consumption .overlap-group-wrapper {
    height: 274px;
    left: 1306px;
    position: absolute;
    top: 198px;
    width: 538px;
}

.gas-consumption .text-wrapper-13 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    left: 146px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 39px;
    width: 241px;
}

.gas-consumption .text-wrapper-14 {
    color: #890000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 60px;
    font-weight: 700;
    left: 179px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 104px;
    width: 175px;
}

.gas-consumption .text-wrapper-15 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    left: 164px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 192px;
    white-space: nowrap;
    width: 204px;
}

.gas-consumption .overlap-3 {
    background-image: url(./images/rect99.png);
    background-size: 100% 100%;
    height: 140px;
    left: 426px;
    position: absolute;
    top: 0;
    width: 1494px;
}

.gas-consumption .group-10 {
    height: 100px;
    left: 69px;
    position: absolute;
    top: 20px;
    width: 843px;
}

.gas-consumption .gas-consumption-wrapper {
    height: 100px;
    left: 124px;
    position: absolute;
    top: 0;
    width: 721px;
}

.gas-consumption .p {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 80px;
    font-weight: 700;
    left: 130px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -77px;
    width: 719px;
}

.gas-consumption .span {
    color: #000000;
}

.gas-consumption .text-wrapper-16 {
    color: #7a0202;
}

.gas-consumption .gascon {
    height: 90px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 90px;
}

.gas-consumption .landscape {
    height: 73px;
    left: 1079px;
    object-fit: cover;
    position: absolute;
    top: 33px;
    width: 339px;
}

.gas-consumption .div-wrapper {
    height: 391px;
    left: 766px;
    position: absolute;
    top: 638px;
    width: 814px;
}

.gas-consumption .overlap-4 {
    height: 391px;
    position: relative;
}

.gas-consumption .img-wrapper {
    height: 391px;
    left: 0;
    position: absolute;
    top: 0;
    width: 814px;
}

.gas-consumption .rectangle-2 {
    height: 399px;
    left: -4px;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    width: 822px;
}

.gas-consumption .group-11 {
    height: 304px;
    left: 84px;
    position: absolute;
    top: 44px;
    width: 653px;
}

.gas-consumption .text-wrapper-17 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 107px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 432px;
}

.gas-consumption .text-wrapper-18 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 48px;
    font-weight: 400;
    left: 248px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 155px;
    width: 151px;
}

.gas-consumption .element-KM-KM-l {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 132px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 75px;
    white-space: nowrap;
    width: 382px;
}

.gas-consumption .text-wrapper-19 {
    color: #890000;
}

.gas-consumption .text-wrapper-20 {
    color: #000000;
    font-size: 20px;
}

.gas-consumption .text-wrapper-21 {
    color: #000000;
    font-size: 15px;
}

.gas-consumption .group-12 {
    height: 75px;
    left: 0;
    position: absolute;
    top: 229px;
    width: 653px;
}

.gas-consumption .element {
    height: 75px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 73px;
}

.gas-consumption .element-KM {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 98px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0px;
    white-space: nowrap;
    width: 98px;
}

.gas-consumption .element-2 {
    height: 75px;
    left: 233px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 73px;
}

.gas-consumption .element-PHP {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 325px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0px;
    width: 131px;
}

.gas-consumption .drop {
    height: 75px;
    left: 501px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 73px;
}

.gas-consumption .element-l {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 593px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0px;
    white-space: nowrap;
    width: 54px;
}

.gas-consumption .line {
    height: 75px;
    left: 215px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1px;
}

.gas-consumption .line-2 {
    height: 75px;
    left: 480px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1px;
}

.gas-consumption .group-13 {
    height: 116px;
    left: 1115px;
    position: absolute;
    top: 390px;
    width: 121px;
}

.gas-consumption .element-wrapper {
    background-color: #ffffff;
    border: 3px solid;
    border-color: #890000;
    border-radius: 63.5px/61.18px;
    height: 122px;
    left: -3px;
    position: relative;
    top: -3px;
    width: 127px;
}

.gas-consumption .element-3 {
    height: 101px;
    left: 12px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    width: 105px;
}

.gas-consumption .overlap-5 {
    background-color: #7a0202;
    border-radius: 25px;
    height: 65px;
    left: 1075px;
    position: absolute;
    top: 527px;
    width: 200px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.gas-consumption .overlap-5:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}


.gas-consumption .text-wrapper-22 {
    color: #ffffff;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 24px;
    font-weight: 800;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 110px;
}
