.gas-prices {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.gas-prices .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.gas-prices .image {
    height: 250px;
    left: 631px;
    object-fit: cover;
    position: absolute;
    top: 222px;
    width: 204px;
}

.gas-prices .overlap {
    background-image: url(./images/rect100.png);
    background-size: 100% 100%;
    height: 139px;
    left: 426px;
    position: absolute;
    top: 0;
    width: 1494px;
}

.gas-prices .gaspr {
    height: 89px;
    left: 39px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 89px;
}

.gas-prices .p {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 80px;
    font-weight: 700;
    left: 158px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -55px;
}

.gas-prices .text-wrapper {
    color: #000000;
}

.gas-prices .span {
    color: #7a0202;
}

.gas-prices .landscape {
    height: 80px;
    left: 1116px;
    object-fit: cover;
    position: absolute;
    top: 29px;
    width: 339px;
}

.gas-prices .overlap-group {
    background-color: #ff0000cc;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 426px;
}

.gas-prices .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 200px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 65px;
    white-space: nowrap;
}

.gas-prices .group {
    height: 50px;
    left: 213px;
    position: absolute;
    top: 135px;
    width: 160px;
}

.gas-prices .div-wrapper {
    background-color: #ffffff;
    border-radius: 80px;
    height: 50px;
    position: relative;
    width: 158px;
}

.gas-prices .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    white-space: nowrap;
    width: 111px;
}

.gas-prices .ellipse {
    height: 157px;
    left: 18px;
    object-fit: cover;
    position: absolute;
    top: 47px;
    width: 157px;
}

.gas-prices .group-2 {
    height: 50px;
    left: 120px;
    position: absolute;
    top: 998px;
    width: 188px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */;
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 100px; /* Padding to provide space for background */
}

.gas-prices .group-2:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-prices .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
}

.gas-prices .img {
    height: 50px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    width: 50px;
}

.gas-prices .group-3 {
    height: 40px;
    left: 23px;
    position: absolute;
    top: 256px;
    width: 225px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-prices .group-3:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-prices .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    white-space: nowrap;
}

.gas-prices .dash {
    height: 40px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 50px;
}

.gas-prices .group-4 {
    height: 48px;
    left: 23px;
    position: absolute;
    top: 345px;
    width: 240px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-prices .group-4:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-prices .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    white-space: nowrap;
}

.gas-prices .gaspr-2 {
    height: 48px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 48px;
}

.gas-prices .group-5 {
    height: 50px;
    left: 23px;
    position: absolute;
    top: 437px;
    width: 310px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-prices .group-5:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-prices .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 105px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
}

.gas-prices .group-6 {
    height: 56px;
    left: 23px;
    position: absolute;
    top: 527px;
    width: 246px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-prices .group-6:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-prices .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 140px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
}

.gas-prices .todolist {
    height: 56px;
    left: 45px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 56px;
}

.gas-prices .group-7 {
    height: 49px;
    left: 23px;
    position: absolute;
    top: 624px;
    width: 302px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-prices .group-7:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}
.gas-prices .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 125px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
    white-space: nowrap;
}

.gas-prices .img-2 {
    left: 49px;
    object-fit: cover;
    position: absolute;
    top: 10px;
}

.gas-prices .group-8 {
    height: 49px;
    left: 23px;
    position: absolute;
    top: 717px;
    width: 224px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-prices .group-8:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}
.gas-prices .group-9 {
    height: 46px;
    left: 23px;
    position: absolute;
    top: 811px;
    width: 209px;transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.gas-prices .group-9:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.gas-prices .text-wrapper-10 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 135px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
    white-space: nowrap;
}

.gas-prices .timeline {
    height: 46px;
    left: 52px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 46px;
}

.gas-prices .group-10 {
    height: 279px;
    left: 1099px;
    position: absolute;
    top: 196px;
    width: 647px;
}

.gas-prices .text-wrapper-11 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 39px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 21px;
    white-space: nowrap;
    width: 103px;
}

.gas-prices .text-wrapper-12 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 87px;
    white-space: nowrap;
    width: 127px;
}

.gas-prices .text-wrapper-13 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 154px;
    white-space: nowrap;
    width: 147px;
}

.gas-prices .text-wrapper-14 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 49px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 219px;
    white-space: nowrap;
    width: 93px;
}

.gas-prices .overlap-wrapper {
    height: 279px;
    left: 162px;
    position: absolute;
    top: 0;
    width: 477px;
}

.gas-prices .overlap-2 {
    border-radius: 30px;
    height: 279px;
    position: relative;
}

.gas-prices .rectangle {
    background-color: #000000;
    border-radius: 30px;
    height: 279px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 477px;
}

.gas-prices .group-11 {
    height: 241px;
    left: 19px;
    position: absolute;
    top: 19px;
    width: 438px;
}

.gas-prices .overlap-group-wrapper {
    height: 43px;
    left: 0;
    position: absolute;
    top: 0;
    width: 440px;
}

.gas-prices .overlap-group-2 {
    background-color: #fff27e;
    border-radius: 50px;
    height: 43px;
    position: relative;
    width: 438px;
}

.gas-prices .text-wrapper-15 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 114px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 210px;
}

.gas-prices .group-12 {
    height: 43px;
    left: 0;
    position: absolute;
    top: 66px;
    width: 440px;
}

.gas-prices .overlap-3 {
    background-color: #7bff98;
    border-radius: 50px;
    height: 43px;
    position: relative;
    width: 438px;
}

.gas-prices .text-wrapper-16 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 109px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1px;
    white-space: nowrap;
    width: 220px;
}

.gas-prices .group-13 {
    height: 43px;
    left: 0;
    position: absolute;
    top: 132px;
    width: 440px;
}

.gas-prices .overlap-4 {
    background-color: #ff7878;
    border-radius: 50px;
    height: 43px;
    position: relative;
    width: 438px;
}

.gas-prices .text-wrapper-17 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 114px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1px;
    white-space: nowrap;
    width: 210px;
}

.gas-prices .group-14 {
    height: 43px;
    left: 0;
    position: absolute;
    top: 198px;
    width: 440px;
}

.gas-prices .overlap-5 {
    background-color: #78beff;
    border-radius: 50px;
    height: 43px;
    position: relative;
    width: 438px;
}

.gas-prices .group-15 {
    height: 279px;
    left: 974px;
    position: absolute;
    top: 498px;
    width: 772px;
}

.gas-prices .text-wrapper-18 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 164px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
    white-space: nowrap;
    width: 103px;
}

.gas-prices .text-wrapper-19 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 140px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 87px;
    white-space: nowrap;
    width: 127px;
}

.gas-prices .text-wrapper-20 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 125px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 154px;
    white-space: nowrap;
    width: 147px;
}

.gas-prices .text-wrapper-21 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 219px;
    white-space: nowrap;
    width: 267px;
}

.gas-prices .group-16 {
    height: 279px;
    left: 287px;
    position: absolute;
    top: 0;
    width: 477px;
}

.gas-prices .group-17 {
    height: 211px;
    left: 1099px;
    position: absolute;
    top: 810px;
    width: 645px;
}

.gas-prices .text-wrapper-22 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 39px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
    white-space: nowrap;
    width: 103px;
}

.gas-prices .text-wrapper-23 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 86px;
    white-space: nowrap;
    width: 127px;
}

.gas-prices .text-wrapper-24 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 153px;
    white-space: nowrap;
    width: 147px;
}

.gas-prices .group-18 {
    height: 211px;
    left: 162px;
    position: absolute;
    top: 0;
    width: 477px;
}

.gas-prices .overlap-6 {
    border-radius: 30px;
    height: 211px;
    position: relative;
}

.gas-prices .rectangle-2 {
    background-color: #000000;
    border-radius: 30px;
    height: 211px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 477px;
}

.gas-prices .group-19 {
    height: 175px;
    left: 19px;
    position: absolute;
    top: 18px;
    width: 438px;
}

.gas-prices .shell-logo-png {
    height: 250px;
    left: 608px;
    position: absolute;
    top: 524px;
    width: 250px;
}

.gas-prices .seaoil-logo-removebg {
    height: 230px;
    left: 618px;
    object-fit: cover;
    position: absolute;
    top: 799px;
    width: 230px;
}
