.maintenance {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.maintenance .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.maintenance .overlap {
    background-color: #ff0000cc;
    height: 1080px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 426px;
}

.maintenance .button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.maintenance .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 200px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 66px;
    white-space: nowrap;
}

.maintenance .group {
    height: 50px;
    left: 213px;
    position: absolute;
    top: 136px;
    width: 160px;
}

.maintenance .overlap-group {
    background-color: #ffffff;
    border-radius: 80px;
    height: 50px;
    position: relative;
    width: 158px;
    border: none;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.maintenance .overlap-group:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.maintenance .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    white-space: nowrap;
    width: 111px;
}

.maintenance .ellipse {
    height: 157px;
    left: 18px;
    object-fit: cover;
    position: absolute;
    top: 48px;
    width: 157px;
}

.maintenance .group-2 {
    height: 50px;
    left: 120px;
    position: absolute;
    top: 998px;
    width: 188px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */;
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 100px; /* Padding to provide space for background */
}

.maintenance .group-2:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.maintenance .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 80px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
}

.maintenance .img {
    height: 50px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 50px;
}

.maintenance .group-3 {
    left: 23px;
    position: absolute;
    top: 256px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.maintenance .group-3:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.maintenance .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.maintenance .dash {
    height: 40px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 50px;
}

.maintenance .group-4 {
    left: 23px;
    position: absolute;
    top: 345px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.maintenance .group-4:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.maintenance .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.maintenance .gaspr {
    height: 48px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 48px;
}

.maintenance .group-5 {
    left: 23px;
    position: absolute;
    top: 437px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.maintenance .group-5:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.maintenance .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.maintenance .group-6 {
    left: 23px;
    position: absolute;
    top: 527px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.maintenance .group-6:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.maintenance .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.maintenance .todolist {
    height: 56px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 56px;
}

.maintenance .group-7 {
    left: 23px;
    position: absolute;
    top: 624px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.maintenance .group-7:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.maintenance .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.maintenance .img-2 {
    height: 49px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 49px;
}

.maintenance .group-8 {
    height: 49px;
    left: 23px;
    position: absolute;
    top: 717px;
    width: 224px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.maintenance .group-8:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.maintenance .group-9 {
    height: 46px;
    left: 23px;
    position: absolute;
    top: 811px;
    width: 209px;transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.maintenance .group-9:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.maintenance .img-logout {
    height: 50px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    width: 50px;
}

.maintenance .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.maintenance .timeline {
    height: 46px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 46px;
}

.maintenance .overlap-2 {
    background-image: url(./images/rect99.png);
    background-size: 100% 100%;
    height: 140px;
    left: 426px;
    position: absolute;
    top: 0;
    width: 1494px;
}

.maintenance .monthly-expenses-wrapper {
    height: 100px;
    left: 171px;
    position: absolute;
    top: 20px;
    width: 728px;
}

.maintenance .monthly-expenses {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 80px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -75px;
    width: 726px;
}

.maintenance .span {
    color: #000000;
}

.maintenance .text-wrapper-110 {
    color: #7a0202;
}

.maintenance .monthly {
    height: 90px;
    left: 49px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 90px;
}

.maintenance .landscape {
    height: 73px;
    left: 1087px;
    object-fit: cover;
    position: absolute;
    top: 34px;
    width: 339px;
}

.maintenance .text-wrapper-11 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 1008px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 228px;
    white-space: nowrap;
    width: 330px;
}

.maintenance .frame {
    height: 528px;
    left: 815px;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 343px;
    width: 725px;
}

.maintenance .group-10 {
    height: 121px;
    left: 0;
    position: absolute;
    top: 0;
    width: 718px;
}

.maintenance .overlap-group-wrapper {
    height: 86px;
    left: 0;
    position: absolute;
    top: 35px;
    width: 720px;
}

.maintenance .overlap-group-2 {
    background-color: #ff8e8e;
    border-radius: 30px;
    height: 86px;
    position: relative;
    width: 716px;
}

.maintenance .awe {
    height: 52px;
    left: 620px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 53px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.maintenance .awe:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.maintenance .text-wrapper-12 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 148px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 28px;
    white-space: nowrap;
}

.maintenance .text-wrapper-13 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 424px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 28px;
    white-space: nowrap;
}

.maintenance .element {
    height: 63px;
    left: 32px;
    object-fit: cover;
    position: absolute;
    top: 12px;
    width: 67px;
}

.maintenance .text-wrapper-14 {
    color: #7a0202;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.maintenance .group-11 {
    height: 121px;
    left: 0;
    position: absolute;
    top: 145px;
    width: 718px;
}

.maintenance .group-12 {
    height: 121px;
    left: 3px;
    position: absolute;
    top: 290px;
    width: 718px;
}

.maintenance .group-13 {
    height: 121px;
    left: 6px;
    position: absolute;
    top: 435px;
    width: 718px;
}

.maintenance .group-14 {
    height: 121px;
    left: 9px;
    position: absolute;
    top: 580px;
    width: 718px;
}

.maintenance .overlap-wrapper {
    height: 61px;
    left: 1072px;
    position: absolute;
    top: 919px;
    width: 205px;
}

.maintenance .div-wrapper {
    background-color: #890000;
    border-radius: 80px;
    height: 61px;
    position: relative;
    width: 203px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.maintenance .div-wrapper:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.maintenance .text-wrapper-15 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 31px;
    letter-spacing: 0.6px;
    line-height: normal;
    position: absolute;
    top: 12px;
    white-space: nowrap;
}
