.past-view {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.past-view .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.past-view .overlap {
    background-color: #ff0000cc;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 426px;
}

.past-view .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 200px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 65px;
    white-space: nowrap;
}

.past-view .group {
    height: 50px;
    left: 213px;
    position: absolute;
    top: 135px;
    width: 160px;
}

.past-view .overlap-group {
    background-color: #ffffff;
    border-radius: 80px;
    height: 50px;
    position: relative;
    width: 158px;
    border: none;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.past-view .overlap-group:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.past-view .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    white-space: nowrap;
    width: 111px;
}

.past-view .ellipse {
    height: 157px;
    left: 18px;
    object-fit: cover;
    position: absolute;
    top: 47px;
    width: 157px;
}

.past-view .group-2 {
    height: 50px;
    left: 120px;
    position: absolute;
    top: 998px;
    width: 188px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */;
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 10px 20px; /* Padding to provide space for background */
}

.past-view .group-2:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.past-view .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 82px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    white-space: nowrap;
}

.past-view .img {
    height: 50px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 50px;
}

.past-view .group-3 {
    left: 23px;
    position: absolute;
    top: 256px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.past-view .group-3:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.past-view .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
}

.past-view .dash {
    height: 40px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 50px;
}

.past-view .group-4 {
    left: 23px;
    position: absolute;
    top: 345px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.past-view .group-4:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.past-view .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 125px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    white-space: nowrap;
}

.past-view .gaspr {
    height: 48px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 48px;
}

.past-view .group-5 {
    left: 23px;
    position: absolute;
    top: 437px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.past-view .group-5:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.past-view .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    white-space: nowrap;
}

.past-view .group-6 {
    left: 23px;
    position: absolute;
    top: 527px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.past-view .group-6:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.past-view .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    white-space: nowrap;
}

.past-view .todolist {
    height: 56px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 56px;
}

.past-view .group-7 {
    left: 23px;
    position: absolute;
    top: 624px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.past-view .group-7:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.past-view .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    white-space: nowrap;
}

.past-view .img-2 {
    height: 49px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 49px;
}

.past-view .img-logout {
    height: 50px;
    left: 10px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    width: 50px;
}

.past-view .group-8 {
    height: 49px;
    left: 23px;
    position: absolute;
    top: 717px;
    width: 224px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 10px 77px; /* Padding to provide space for background */
}   

.past-view .group-8:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.past-view .group-9 {
    height: 46px;
    left: 23px;
    position: absolute;
    top: 811px;
    width: 209px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 10px 85px; /* Padding to provide space for background */
}

.past-view .group-9:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.past-view .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 125px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    white-space: nowrap;
}

.past-view .timeline {
    height: 46px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 46px;
}

.past-view .overlap-2 {
    height: 140px;
    left: 426px;
    position: absolute;
    top: 0;
    width: 1494px;
}

.past-view .reminder {
    height: 90px;
    left: 69px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 90px;
}

.past-view .rectangle {
    height: 140px;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    width: 1494px;
}

.past-view .reminder-wrapper {
    height: 100px;
    left: 193px;
    position: absolute;
    top: 20px;
    width: 381px;
}

.past-view .p {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 80px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -75px;
    width: 379px;
}

.past-view .span {
    color: #000000;
}

.past-view .text-wrapper-10 {
    color: #890000;
}

.past-view .landscape {
    height: 73px;
    left: 1079px;
    object-fit: cover;
    position: absolute;
    top: 33px;
    width: 339px;
}

.past-view .view-reminder {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 987px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 150px;
    white-space: nowrap;
    width: 372px;
}

.past-view .text-wrapper-11 {
    color: #7a0202;
}

.past-view .overlap-3 {
    height: 90px;
    left: 954px;
    position: absolute;
    top: 324px;
    width: 437px;
}

.past-view .rectangle-2 {
    height: 90px;
    left: 1px;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    width: 436px;
}

.past-view .rectangle-3 {
    background-color: #18c71f;
    border-radius: 25px;
    height: 90px;
    left: 219px;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    width: 218px;
}

.past-view .overlap-wrapper {
    height: 90px;
    left: 0;
    position: absolute;
    top: 0;
    width: 220px;
}

.past-view .div-wrapper {
    background-color: #d9d9d9;
    border-radius: 25px;
    height: 90px;
    position: relative;
    width: 218px;
}

.past-view .text-wrapper-12 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 32px;
    white-space: nowrap;
    width: 139px;
}

.past-view .text-wrapper-13 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 296px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    white-space: nowrap;
    width: 64px;
}

.past-view .frame {
    height: 542px;
    left: 722px;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 471px;
    width: 903px;
}

.past-view .overlap-group-wrapper {
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 907px;
}

.past-view .overlap-group-2 {
    background-color: #00ff0a80;
    border-radius: 30px;
    height: 120px;
    position: relative;
    width: 903px;
}

.past-view .text-wrapper-14 {
    color: #000000cc;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 164px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 44px;
    white-space: nowrap;
    width: 330px;
}

.past-view .text-wrapper-15 {
    color: #000000cc;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 506px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 44px;
    white-space: nowrap;
    width: 274px;
}

.past-view .check {
    height: 85px;
    left: 27px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 85px;
}

.past-view .awe {
    height: 70px;
    left: 812px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 63px;
}

.past-view .group-10 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 138px;
    width: 907px;
}

.past-view .group-11 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 276px;
    width: 907px;
}

.past-view .group-12 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 414px;
    width: 907px;
}

.past-view .group-13 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 552px;
    width: 907px;
}

.past-view .group-14 {
    height: 120px;
    left: 0;
    position: absolute;
    top: 690px;
    width: 907px;
}
