.register {
    background-color: #e80029;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.register .div {
    background-color: #e80029;
    height: 1080px;
    overflow: hidden;
    position: relative;
    width: 1920px;
}

.register .overlap {
    background-color: #ffffff;
    height: 141px;
    left: -2px;
    position: absolute;
    top: 0;
    width: 1922px;
}

.register .landscape {
    height: 92px;
    left: 71px;
    object-fit: cover;
    position: absolute;
    top: 26px;
    width: 314px;
}

.register .text-wrapper {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 525px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 51px;
    white-space: nowrap;
}

.register .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 723px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 51px;
    white-space: nowrap;
}

.register .group {
    background-color: #000000;
    border-radius: 40px;
    height: 65px;
    left: 1600px;
    position: absolute;
    top: 38px;
    width: 264px;
}

.register .group-2 {
    height: 38px;
    left: 46px;
    position: relative;
    top: 13px;
    width: 174px;
}

.register .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 124px;
}

.register .img {
    height: 38px;
    left: 133px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 39px;
}

.register .overlap-group-wrapper {
    height: 65px;
    left: 1305px;
    position: absolute;
    top: 38px;
    width: 266px;
}

.register .overlap-group {
    background-color: #e80029;
    border-radius: 40px;
    height: 65px;
    position: relative;
    width: 264px;
}

.register .login {
    height: 38px;
    left: 150px;
    object-fit: cover;
    position: absolute;
    top: 12px;
    width: 38px;
}

.register .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 55px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 82px;
}

.register .overlap-2 {
    background-color: #ffffff;
    border-radius: 50px;
    height: 859px;
    left: 46px;
    position: absolute;
    top: 186px;
    width: 1828px;
}

.register .black-red-modern-car {
    height: 482px;
    left: 81px;
    object-fit: cover;
    position: absolute;
    top: 188px;
    width: 594px;
}

.register .REGISTER-ACCOUNT {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 80px;
    font-weight: 700;
    left: 801px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 52px;
}

.register .span {
    color: #000000;
}

.register .text-wrapper-5 {
    color: #7a0202;
}

.register .overlap-3 {
    border-radius: 50px;
    height: 615px;
    left: 765px;
    position: absolute;
    top: 191px;
    width: 895px;
}

.register .rectangle {
    background-color: #000000;
    border-radius: 50px;
    height: 615px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 895px;
}

.register .overlap-wrapper {
    height: 72px;
    left: 74px;
    position: absolute;
    top: 40px;
    width: 749px;
}

.register .div-wrapper {
    background-color: #d9d9d9;
    border-radius: 50px;
    height: 72px;
    position: relative;
    width: 747px;
}

.register .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: absolute;
    top: 16px;
    white-space: nowrap;
    width: 230px;
}

.register .group-3 {
    height: 72px;
    left: 74px;
    position: absolute;
    top: 127px;
    width: 749px;
}

.register .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: absolute;
    top: 16px;
    white-space: nowrap;
    width: 218px;
}

.register .group-4 {
    height: 72px;
    left: 74px;
    position: absolute;
    top: 214px;
    width: 749px;
}

.register .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: absolute;
    top: 18px;
    white-space: nowrap;
    width: 127px;
}

.register .group-5 {
    height: 72px;
    left: 74px;
    position: absolute;
    top: 299px;
    width: 749px;
}

.register .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: absolute;
    top: 18px;
    white-space: nowrap;
    width: 204px;
}

.register .group-6 {
    height: 72px;
    left: 74px;
    position: absolute;
    top: 387px;
    width: 749px;
}

.register .text-wrapper-10 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 36px;
    font-weight: 300;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: absolute;
    top: 17px;
    white-space: nowrap;
    width: 385px;
}

.register .group-7 {
    height: 66px;
    left: 462px;
    position: absolute;
    top: 509px;
    width: 361px;
}

.register .overlap-4 {
    border-radius: 50px;
    height: 66px;
    position: relative;
    width: 359px;
}

.register .rectangle-2 {
    background-color: #000000;
    border-radius: 50px;
    height: 66px;
    left: 0;
    position: absolute;
    top: 0;
    width: 359px;
}

.register .text-wrapper-11 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    white-space: nowrap;
    width: 125px;
}

.register .group-8 {
    height: 66px;
    left: 88px;
    position: absolute;
    top: 509px;
    width: 361px;
}

.register .rectangle-3 {
    background-color: #e80029;
    border-radius: 50px;
    height: 66px;
    left: 0;
    position: absolute;
    top: 0;
    width: 359px;
}

.register .text-wrapper-12 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    left: 104px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 152px;
}
