.todo-list-task {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.todo-list-task .save {
    left: -15px;
    object-fit: cover;
    position: absolute;
    top: -10px;
}

.todo-list-task .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.todo-list-task .overlap {
    background-color: #ff0000cc;
    height: 1080px;
    left: 0;
    position: absolute;
    top: 0;
    width: 426px;
}

.todo-list-task .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 200px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 65px;
    white-space: nowrap;
}

.todo-list-task .group {
    height: 50px;
    left: 213px;
    position: absolute;
    top: 135px;
    width: 160px;
}

.todo-list-task .overlap-group {
    background-color: #ffffff;
    border-radius: 80px;
    height: 50px;
    border: none;
    position: relative;
    width: 158px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}
.todo-list-task .overlap-group:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.todo-list-task .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    white-space: nowrap;
    width: 111px;
}

.todo-list-task .ellipse {
    height: 157px;
    left: 18px;
    object-fit: cover;
    position: absolute;
    top: 47px;
    width: 157px;
}

.todo-list-task .group-2 {
    height: 50px;
    left: 120px;
    position: absolute;
    top: 999px;
    width: 188px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */;
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 100px; /* Padding to provide space for background */
}

.todo-list-task .group-2:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.todo-list-task .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 82px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
}

.todo-list-task .img {
    height: 50px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 50px;
}

.todo-list-task .group-3 {
    height: 40px;
    left: 23px;
    position: absolute;
    top: 257px;
    width: 245px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.todo-list-task .group-3:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.todo-list-task .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.todo-list-task .dash-wrapper {
    background-position: 50% 50%;
    background-size: cover;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
}

.todo-list-task .dash {
    height: 40px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 50px;
}

.todo-list-task .group-4 {
    height: 48px;
    left: 23px;
    position: absolute;
    top: 346px;
    width: 240px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.todo-list-task .group-4:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.todo-list-task .text-wrapper-5 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.todo-list-task .img-2 {
    height: 48px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 48px;
}

.todo-list-task .img-logout {
    height: 50px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    width: 50px;
}

.todo-list-task .group-5 {
    height: 50px;
    left: 23px;
    position: absolute;
    top: 438px;
    width: 310px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.todo-list-task .group-5:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.todo-list-task .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.todo-list-task .group-6 {
    height: 56px;
    left: 23px;
    position: absolute;
    top: 528px;
    width: 246px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.todo-list-task .group-6:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.todo-list-task .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 10x;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.todo-list-task .todolist {
    height: 56px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 56px;
}

.todo-list-task .group-7 {
    height: 49px;
    left: 23px;
    position: absolute;
    top: 625px;
    width: 302px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.todo-list-task .group-7:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.todo-list-task .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.todo-list-task .img-3 {
    height: 49px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 49px;
}

.todo-list-task .group-8 {
    height: 49px;
    left: 23px;
    position: absolute;
    top: 718px;
    width: 224px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.todo-list-task .group-8:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}

.todo-list-task .group-9 {
    height: 46px;
    left: 23px;
    position: absolute;
    top: 812px;
    width: 209px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border: none;
    background: transparent;
    border-radius: 30px;
    padding: 35px 190px; /* Padding to provide space for background */
}

.todo-list-task .group-9:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    transform: scale(1.1); /* Increase the size more significantly */
}
.todo-list-task .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

.todo-list-task .timeline {
    height: 46px;
    left: 50px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 46px;
}

.todo-list-task .overlap-2 {
    background-image: url(./images/rect99.png);
    background-size: 100% 100%;
    height: 140px;
    left: 426px;
    position: absolute;
    top: 0;
    width: 1494px;
}

.todo-list-task .to-do-list {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 80px;
    font-weight: 700;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -55px;
    white-space: nowrap;
    width: 389px;
}

.todo-list-task .span {
    color: #000000;
}

.todo-list-task .text-wrapper-10 {
    color: #890000;
}

.todo-list-task .todolist-2 {
    height: 90px;
    left: 36px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 90px;
}

.todo-list-task .landscape {
    height: 80px;
    left: 1099px;
    object-fit: cover;
    position: absolute;
    top: 30px;
    width: 339px;
}

.todo-list-task .group-10 {
    height: 243px;
    left: 873px;
    position: absolute;
    top: 527px;
    width: 599px;
}

.todo-list-task .text-wrapper-11 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 181px;
}

.todo-list-task .rectangle {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 191px;
    left: 0;
    border: none;
    position: absolute;
    top: 52px;
    width: 535px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
}

.todo-list-task .group-11 {
    height: 110px;
    left: 873px;
    position: absolute;
    top: 371px;
    width: 599px;
}

.todo-list-task .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 62px;
    left: 0;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 48px;
    width: 535px;
    padding-left: 30px;
    padding-right: 30px;
}

.todo-list-task .text-wrapper-12 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 164px;
}

.todo-list-task .create-task {
    color: transparent;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 1020px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 234px;
    white-space: nowrap;
    width: 303px;
}

.todo-list-task .group-wrapper {
    background-color: #000000;
    border-radius: 20px;
    height: 72px;
    left: 1220px;
    position: absolute;
    top: 850px;
    width: 250px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.todo-list-task .group-wrapper:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.todo-list-task .group-12 {
    height: 47px;
    left: 45px;
    position: relative;
    top: 13px;
    width: 162px;
}

.todo-list-task .text-wrapper-13 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -7px;
    white-space: nowrap;
    width: 103px;
}

.todo-list-task .trash {
    height: 47px;
    left: -15px;
    object-fit: cover;
    position: absolute;
    top: -10px;
    width: 47px;
}

.todo-list-task .div-wrapper {
    background-color: #890000;
    border-radius: 20px;
    height: 72px;
    left: 873px;
    position: absolute;
    top: 850px;
    width: 250px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.todo-list-task .div-wrapper:hover {
    transform: scale(1.1); /* Increase the size more significantly */
}

.todo-list-task .group-13 {
    height: 48px;
    left: 55px;
    position: relative;
    top: 12px;
    width: 142px;
}

.todo-list-task .text-wrapper-14 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 67px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -5px;
    white-space: nowrap;
    width: 73px;
}
